.choices{
    max-width: 255px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted::after{
    display: none;
}

.choices__item:not(:first-child){
    border-top: 1px solid #666;
    opacity: 0.5;
}

.choices__item.choices__item--choice.choices__item--selectable{
    color:#A1A6B4;
}

.choices__inner {
    align-items: center;
    min-height: 37px;
    font-size: 16px;
    padding: 8px 12px 7px 7px;
    background-color: #E6E8EC;
    border: 1px solid #E6E8EC;
    border-radius: 10px;
  }
  
  .is-open .choices__inner {
    position: relative;
    border-color: #000;
    border-radius: 10px;
    z-index: 1;
  }
  
  
  .choices[data-type*=select-one] .choices__inner {
    padding-bottom: 5px;
  }

  .choices[data-type*=select-one]::after{
    right: 16.5px;
  }


  .choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item{
    font-size: 16px;
  }
  
  .choices__list--dropdown .choices__item--selectable {
    padding-right: 10px 
  }
  
  .choices__list {
    padding-top: 3px;
  }
  
  .choices__placeholder {
    opacity: 1;
  }
  
  .choices__list--single {
    display: inline-block;
    padding: 3px 16px 4px 4px;
    width: 100%;
  }
  
  .is-open .choices__list--dropdown {
    border-top: 0px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-color: #000;
  
  }
  
  .choices[data-type*=select-one]:after {
    height: 10px;
    width: 10px;
    border-color: transparent transparent #666666 #666666;
    border-width: 1px;
    margin-top: -8.5px;   
    transform: rotate(-45deg);
    z-index: 1;
    transition: border-color 0.2s ease-in-out, margin-top 0.2s ease-in-out;
  }
  
  .choices[data-type*=select-one].is-open:after {
    margin-top: -3.5px;
    border-color: #000 #000 transparent transparent;
  }
  
  .common-border {
    border: 1px solid #000;
  }
  
  #choices--selectCustom-item-choice-1 {
    display: none;
  }
  
  .choices__list--dropdown .choices__item {    
    padding: 15px;
  }
  
  .choices__list--dropdown {
    margin-top: -7px;
    z-index: 0;
  }
  
  .choices__list--dropdown, .choices__list[aria-expanded] {
    z-index: 0;
    margin-top: -5px;
  }

  .choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable{
    padding-right: 0;
  }
